<launch>
  <!-- The rpy in the comment uses the extrinsic XYZ convention, which is the same as is used in a URDF. See
       http://wiki.ros.org/geometry2/RotationMethods and https://en.wikipedia.org/wiki/Euler_angles for more info. -->
  <!-- xyz="0.807214 -0.378774 0.538114" rpy="0.77138 3.13606 -3.13053" -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.807214 -0.378774 0.538114   0.926516 -0.00616569 0.000482851 -0.376206 base_link ka_rgb_camera_link" />
</launch>
