<launch>
    <arg name="sim" default="true"/>
    <include if="$(arg sim)" file="$(find ur10e_zed_moveit_config)/launch/demo.launch" />
    <include unless="$(arg sim)" file="$(find ur10e_zed_moveit_config)/launch/ur10e_iaac_bringup.launch" />
    <include unless="$(arg sim)" file="$(find ur10e_zed_moveit_config)/launch/moveit_rviz.launch">
        <arg name="rviz_config" value="$(find ur10e_zed_moveit_config)/launch/moveit.rviz" />
    </include>
    <node name="trajectory_tracer" pkg="commander" type="trace_trajectory_srv.py" output="screen" />
    <node name="pose_visualizer" pkg="commander" type="visualize_poses_srv.py" output="screen" />
    <node name="commander" pkg="commander" type="commander_node.py" output="screen">
        <param name="sim" value="$(arg sim)"/>
    </node>
    <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.00109895 0.0867033 -0.0423406   -0.664343 -0.0276657 0.00729324 0.74688 tool0 rgb_camera_tcp" /> -->

    <node pkg="tf2_ros" type="static_transform_publisher" name="zed2base_link" 
          args="0 0 0 0 -1.57 1.57 rgb_camera_tcp camera_base" />
    s
</launch>